---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Información">
  <main
    class="text-white flex flex-col items-center mx-10 my-24 p-6 bg-[rgba(255,255,255,.08)]
     border border-solid border-gray-700 rounded-3xl"
  >
    <div class="max-w-3xl mx-auto font-[Chillax] text-center">
      <h2
        id="title"
        class="text-4xl font-bold bg-gradient-to-r from-gray-500 via-slate-500 to-sky-200 bg-clip-text text-transparent mb-4"
      >
        Explorando el DOM: Un Viaje de Descubrimiento y Creación
      </h2>

      <p class="mb-6">
        En este emocionante viaje de experimentación en el mundo del DOM, he
        dado forma a una serie de proyectos fascinantes que espero hayas
        disfrutado explorar. Estos proyectos representan mi dedicación a
        proporcionar un espacio interactivo y educativo para todos los
        entusiastas del desarrollo web. Aquí te presento algunos de los
        proyectos que he desarrollado:
      </p>

      <!-- Proyectos -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Proyecto: Cronómetro -->
        <a
          href="/cronometro"
          class="cursor-pointer proyecto mb-6 rounded-3xl p-6 bg-[#292929] hover:bg-[#353535]"
        >
          <h3 class="text-xl font-semibold text-slate-500 mb-2">Cronómetro</h3>
          <p>
            Experimenta con el tiempo y mejora tu habilidad para manejar eventos
            temporales con nuestro cronómetro interactivo. ¡Esperamos que hayas
            disfrutado cada segundo!
          </p>
        </a>

        <!-- Proyecto: Citas Aleatorias -->
        <a
          href="/citas"
          class="proyecto mb-6 rounded-3xl p-6 bg-[#292929] hover:bg-[#353535]"
        >
          <h3 class="text-xl font-semibold text-slate-500 mb-2">
            Citas Aleatorias
          </h3>
          <p>
            Sumérgete en la inspiración con nuestras citas aleatorias. Un
            proyecto que celebra la diversidad de ideas y te invita a
            reflexionar sobre pensamientos inspiradores.
          </p>
        </a>

        <!-- Proyecto: Tareas Pendientes -->
        <a
          href="/tareas"
          class="proyecto mb-6 rounded-3xl p-6 bg-[#292929] hover:bg-[#353535]"
        >
          <h3 class="text-xl font-semibold text-slate-500 mb-2">
            Tareas Pendientes
          </h3>
          <p>
            Organiza tu día con nuestra aplicación de tareas pendientes. Un
            ejemplo práctico de cómo el DOM puede facilitar la gestión de datos
            y la interactividad.
          </p>
        </a>

        <!-- Proyecto: Random Hex Color -->
        <a
          href="/hexColor"
          class="proyecto mb-6 rounded-3xl p-6 bg-[#292929] hover:bg-[#353535]"
        >
          <h3 class="text-xl font-semibold text-slate-500 mb-2">
            Random Hex Color
          </h3>
          <p>
            Explora la diversidad de colores hexadecimales con nuestra
            herramienta generadora de colores. ¡Cada clic te lleva a un nuevo
            mundo de posibilidades cromáticas!
          </p>
        </a>

        <!-- Proyecto: Slides para Colores RGB -->
        <a
          href="/sliders"
          class="proyecto mb-6 rounded-3xl p-6 hover:bg-[#353535] bg-[#292929]"
        >
          <h3 class="text-xl font-semibold text-slate-500 mb-2">
            Slides para Colores RGB
          </h3>
          <p>
            Sumérgete en una presentación visual de colores RGB con nuestros
            slides interactivos. Una experiencia que combina la estética visual
            con el poder del DOM.
          </p>
        </a>
      </div>

      <p class="mt-6">
        Estos proyectos son solo el inicio de mi exploración. Me comprometo a
        seguir innovando y ofreciendo nuevas experiencias. ¡Gracias por ser
        parte de este emocionante viaje conmigo!
      </p>
    </div>
  </main>

  <div class="h-1"></div>
</Layout>
