---

---

<nav
  class="flex justify-center selection:text-black selection:bg-white font-[Chillax]"
>
  <div
    class="backdrop-blur-lg bg-[rgba(255,255,255,.08)] border-solid border border-[rgba(255,255,255,.08)] text-white flex justify-center w-1/5 text-base gap-8 p-2 rounded-full mt-4 fixed z-10"
  >
    <a href="/" class="hover:text-gray-500">Inicio</a>
    <button id="boton" class="hover:text-gray-500 flex cursor-pointer">
      Ejercicios <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-chevrons-down"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M7 7l5 5l5 -5"></path>
        <path d="M7 13l5 5l5 -5"></path>
      </svg></button
    >
    <a href="/info" class="hover:text-gray-500">Info</a>
  </div>
</nav>

<div
  class="flex justify-center selection:text-black selection:bg-white font-[Chillax]"
>
  <ul
    id="menu"
    class="hidden hover:block backdrop-blur-lg bg-[rgba(255,255,255,.08)] border-solid border border-[rgba(255,255,255,.08)] text-white justify-center w-1/5 text-base p-2 mt-20 fixed rounded-3xl z-10"
  >
    <li>
      <a class="hover:text-gray-500 flex justify-center gap-1" href="/hexColor"
        >Colores Aleatorios <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-external-link"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
          ></path>
          <path d="M11 13l9 -9"></path>
          <path d="M15 4h5v5"></path>
        </svg></a
      >
    </li>
    <li>
      <a class="hover:text-gray-500 flex justify-center gap-1" href="/sliders"
        >Colores RGB con Sliders <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-external-link"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
          ></path>
          <path d="M11 13l9 -9"></path>
          <path d="M15 4h5v5"></path>
        </svg></a
      >
    </li>
    <li>
      <a class="hover:text-gray-500 flex justify-center gap-1" href="/citas"
        >Citas Aleatorias <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-external-link"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
          ></path>
          <path d="M11 13l9 -9"></path>
          <path d="M15 4h5v5"></path>
        </svg></a
      >
    </li>
    <li>
      <a
        class="hover:text-gray-500 flex justify-center gap-1"
        href="/cronometro"
        >Cronometro <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-external-link"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
          ></path>
          <path d="M11 13l9 -9"></path>
          <path d="M15 4h5v5"></path>
        </svg></a
      >
    </li>
    <li>
      <a class="hover:text-gray-500 flex justify-center gap-1" href="/tareas"
        >Tareas Pendientes <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-external-link"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
          ></path>
          <path d="M11 13l9 -9"></path>
          <path d="M15 4h5v5"></path>
        </svg></a
      >
    </li>
  </ul>
</div>

<script>
  const boton = document.querySelector("#boton");
  const menu = document.querySelector("#menu");

  boton.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });

  // Agregar evento de clic al documento
  document.addEventListener("click", (event) => {
    const targetElement = event.target; // Elemento en el que se hizo clic

    // Verificar si el clic ocurrió fuera del menú y el botón
    if (targetElement !== boton) {
      menu.classList.add("hidden");
    }
  });
</script>
