<div
  class="text-white flex justify-center flex-col text-center mx-40 mt-16 bg-[#1d1c20] border border-solid border-gray-700 rounded-3xl p-5"
>
  <h3
    class="font-bold text-7xl uppercase bg-gradient-to-r from-violet-500 to-violet-900 bg-clip-text text-transparent"
  >
    Gracias por observar este experimento
  </h3>
  <p class="pt-16 text-start font-normal text-xl">
    Querido visitante, <br />
    <br />¡Gracias de todo corazón por tomar un momento para explorar nuestra
    página! Sabemos que tienes muchas opciones en línea, y el hecho de que hayas
    elegido compartir parte de tu tiempo con nosotros significa el mundo. <br />
    <br /> Esperamos que tu visita haya sido tan emocionante y enriquecedora
    como lo ha sido para nosotros crear esta plataforma. Aquí, el DOM es más que
    solo una tecnología; es un experimento continuo, un laboratorio de ideas
    donde los desarrolladores de todos los niveles pueden aprender, probar y
    crecer.

    <br />
    <br />Nuestra misión es proporcionarte un espacio donde puedas inspirarte,
    darle forma a tus ideas y explorar el potencial ilimitado del desarrollo
    web. Cada clic, cada interacción y cada desafío que enfrentas aquí son parte
    integral de este experimento en evolución.

    <br />
    <br /> No importa si eres un principiante curioso o un experto apasionado;
    tu presencia es lo que hace que este laboratorio cobre vida. Tu compromiso y
    entusiasmo son los elementos clave que impulsan nuestras investigaciones y
    mejoras constantes.

    <br />
    <br />
     Así que, una vez más, gracias por unirte a nosotros en este emocionante
    experimento en el mundo del DOM. Esperamos verte de nuevo, seguir probando
    ideas juntos y explorar el potencial asombroso del desarrollo web.

    <br />
    <br />
     Con gratitud y emoción, <br />
    <br /> Enzo Bustamante
  </p>
</div>
